env:
  CARGO_INCREMENTAL: '0'
  CARGO_NET_RETRY: '10'
  RUSTUP_MAX_RETRIES: '10'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main
    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Build release binary
      run: nix build ${{ matrix.nix_pkg }} --no-link --print-out-paths | tee /tmp/nix-out
    - name: Package binary
      run: 'PNAME="${GITHUB_REPOSITORY##*/}"

        OUT=$(cat /tmp/nix-out)

        cp "${OUT}/bin/${PNAME}" ./

        tar -czvf "${PNAME}-${{ matrix.cargo_triple }}.tar.gz" "${PNAME}"

        '
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: binary-${{ matrix.cargo_triple }}
        path: '*.tar.gz'
    strategy:
      matrix:
        include:
        - cargo_triple: x86_64-unknown-linux-musl
          nix_pkg: .#packages.x86_64-linux.static
          os: ubuntu-latest
          system: x86_64-linux
        - cargo_triple: aarch64-apple-darwin
          nix_pkg: .#packages.aarch64-darwin.default
          os: macos-latest
          system: aarch64-darwin
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        merge-multiple: true
        path: artifacts
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/*
name: Release
'on':
  push:
    tags:
    - v[0-9]+.*
  workflow_dispatch: {}
permissions:
  contents: write
